@use "variables";

.content-padding {
  padding-left: 24px;
  padding-right: 24px;
}

.font-size-14 {
  font-size: variables.$font-size-sm;
}

.font-size-16 {
  font-size: variables.$font-size-base;
}

.font-size-20 {
  font-size: variables.$font-size-lg;
}

.font-size-24 {
  font-size: variables.$font-size-xl;
}

.font-size-28 {
  font-size: variables.$font-size-2xl;
}