@use "variables";

.content-padding {
  padding-left: 24px;
  padding-right: 24px;
}

.font-size-14 {
  font-size: variables.$font-size-sm;
}

.font-size-16 {
  font-size: variables.$font-size-base;
}

.font-size-20 {
  font-size: variables.$font-size-lg;
}

.font-size-24 {
  font-size: variables.$font-size-xl;
}

.font-size-28 {
  font-size: variables.$font-size-2xl;
}

.is-bold {
  font-weight: bold;
}

.is-title {
  color: var(--text-primary);
  font-size: calc(5 * var(--font-size));
}

.is-hint {
  font-size: calc(.7 * var(--font-size));
}

.is-h1 {
  color: var(--text-primary);
  font-size: calc(1.75 * var(--font-size));
}

.is-highlighted-text {
  color: var(--accent);
}

.background-secondary {
  background-color: var(--bg-secondary);
}

.background-tertiary {
  background-color: var(--bg-tertiary);
}

.rounded {
  border-radius: variables.$border-radius;
}

.is-danger-color {
  color: variables.$color-danger
}

.is-width-40-percent {
  width: 40%
}

.is-accent-h1 {
  color: var(--accent);
  font-size: calc(1.5 * var(--font-size));
  font-weight: bold;
  margin-top: 4px;
}

.is-card {
  background-color: var(--bg-secondary);
  border: 1px solid var(--border-color);
  box-shadow: 0 0 2px var(--border-color);
}

.unstyled-link {
  text-decoration: none;
  color: inherit;
}
