// Import variables and mixins first
@use "sass:meta";
@use 'variables.scss';
@use 'mixins.scss';

// Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  // Light mode (default)
  --bg-primary: #{variables.$light-bg-primary};
  --bg-secondary: #{variables.$light-bg-secondary};
  --bg-tertiary: #{variables.$light-bg-tertiary};
  --bg-special: #{variables.$light-bg-primary};
  --text-primary: #{variables.$light-text-primary};
  --text-secondary: #{variables.$light-text-secondary};
  --border-color: #{variables.$light-border};
  --highlight: #{variables.$light-highlight};
  --hover: #{variables.$light-hover};

  --font-family: Arial, sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
}

body {
  font-family: var(--font-family), sans-serif;
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

#root {
  background-color: var(--bg-primary);
  margin-left: 15%;
  margin-right: 15%;
  min-height: 100vh;
  color: var(--text-primary);
}

body.dark-mode {
  --bg-primary: #{variables.$dark-bg-primary};
  --bg-secondary: #{variables.$dark-bg-secondary};
  --bg-tertiary: #{variables.$dark-bg-tertiary};
  --bg-special: #{variables.$dark-bg-secondary};
  --text-primary: #{variables.$dark-text-primary};
  --text-secondary: #{variables.$dark-text-secondary};
  --border-color: #{variables.$dark-border};
  --highlight: #{variables.$dark-highlight};
  --hover: #{variables.$dark-hover};
}

body.high-contrast {
  --bg-primary: #000000;
  --bg-secondary: #121212;
  --bg-tertiary: #1f1f1f;
  --text-primary: #ffffff;
  --text-secondary: #f0f0f0;
  --border-color: #ffffff;
  --highlight: #1f1f1f;
  --bg-special: #121212;
}

body.high-contrast select,
body.high-contrast input[type="checkbox"],
body.high-contrast button {
  accent-color: #{variables.$dark-hover};
}

// Import all component styles
@include meta.load-css('components/login.scss');
@include meta.load-css('components/navbar.scss');
@include meta.load-css('components/button.scss');
@include meta.load-css('components/languageSwitcher.scss');
@include meta.load-css('components/modal.scss');
@include meta.load-css('components/inputs.scss');
@include meta.load-css('helpers.scss');
