// Import variables and mixins first
@use "sass:meta";
@use 'variables.scss';
@use 'mixins.scss';

// Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  // Backgrounds
  --bg-primary: #{variables.$light-bg-primary};
  --bg-secondary: #{variables.$light-bg-secondary};
  --bg-tertiary: #{variables.$light-bg-tertiary};
  --bg-special: #{variables.$light-bg-primary};

  //Text
  --text-primary: #{variables.$light-text-primary};
  --text-secondary: #{variables.$light-text-secondary};

  //Accents
  --border-color: #{variables.$light-border};
  --alt-border-color: #{variables.$light-highlight};
  --highlight: #{variables.$light-highlight};
  --alt-highlight: #{variables.$light-highlight};
  --hover: #{variables.$light-hover};
  --alt-hover: #{variables.$light-highlight};

  //Special
  --btn-scd-border: #{variables.$light-highlight};


  --font-family: Arial, sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
}

body {
  font-family: var(--font-family), sans-serif;
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--bg-tertiary);
  color: var(--text-primary);
}

#root {
  background-color: var(--bg-primary);
  margin-left: variables.$app-padding;
  margin-right: variables.$app-padding;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
}

.app-layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
}

body.dark-mode {
  //Background
  --bg-primary: #{variables.$dark-bg-primary};
  --bg-secondary: #{variables.$dark-bg-secondary};
  --bg-tertiary: #{variables.$dark-bg-tertiary};
  --bg-special: #{variables.$dark-bg-secondary};

  //Text
  --text-primary: #{variables.$dark-text-primary};
  --text-secondary: #{variables.$dark-text-secondary};

  //Accents
  --border-color: #{variables.$dark-border};
  --alt-border-color: #{variables.$dark-text-primary};
  --highlight: #{variables.$dark-highlight};
  --alt-highlight: #{variables.$hc-bg-secondary};
  --hover: #{variables.$dark-hover};
  --alt-hover: #{variables.$light-highlight};

  //Special
  --btn-scd-border: #{variables.$dark-border}
}

body.high-contrast {
  --bg-primary: #{variables.$hc-bg-primary};
  --bg-secondary: #{variables.$hc-bg-secondary};
  --bg-tertiary: #{variables.$hc-bg-tertiary};
  --bg-special: #{variables.$hc-bg-secondary};

  --text-primary: #{variables.$hc-text-primary};
  --text-secondary: #{variables.$hc-text-secondary};

  //Accents
  --border-color: #{variables.$hc-border};
  --alt-border-color: #{variables.$hc-highlight};
  --highlight: #{variables.$hc-highlight};
  --alt-highlight: #{variables.$hc-bg-secondary};
  --hover: #{variables.$hc-hover};
  --alt-hover: #{variables.$light-highlight};#

  //Special
  --btn-scd-border: #{variables.$color-white}
}

body.high-contrast select,
body.high-contrast input[type="checkbox"],
body.high-contrast button {
  accent-color: var(--hover);
}

// Import all component styles
@include meta.load-css('components/login.scss');
@include meta.load-css('components/navbar.scss');
@include meta.load-css('components/button.scss');
@include meta.load-css('components/languageSwitcher.scss');
@include meta.load-css('components/modal.scss');
@include meta.load-css('components/inputs.scss');
@include meta.load-css('helpers.scss');
@include meta.load-css('components/footer.scss');
