@use '../variables.scss';

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;


  .modal-backdrop {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: variables.$border-radius;
    width: min(600px, calc(100vw - 2rem));
    background-color: var(--bg-primary);
    color: var(--text-primary);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  }

  .modal-header {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: var(--alt-highlight);
    color: white;

    h1 {
      font-size: calc(1.25 * var(--font-size));
    }

    button {
      border: 0;
      background: transparent;
      font-size: 1.5rem;
      cursor: pointer;
      color: var(--navbar-text);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      line-height: 1;
    }
  }

  .modal-close {
    border: 0;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--navbar-text);
  }

  .modal-body {
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .modal-footer {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }


  // Font modal preview specifics

  .modal-content.high-contrast-preview {
    --bg-primary: #000000;
    --bg-secondary: #121212;
    --bg-tertiary: #1f1f1f;
    --text-primary: #ffffff;
    --text-secondary: #f0f0f0;
    --border-color: #ffffff;
    --highlight: #1f1f1f;
    --alt-highlight: #{variables.$hc-highlight};
    --alt-border-color: #{variables.$hc-highlight};
    --bg-special: #121212;
    --hover: #{variables.$dark-hover};
    --alt-hover: #{variables.$light-highlight};

    --btn-scd-border: #{variables.$color-white};

    background-color: var(--bg-special);
    color: var(--text-primary);
  }

  .modal-content.high-contrast-preview select,
  .modal-content.high-contrast-preview input[type="checkbox"],
  .modal-content.high-contrast-preview button {
    accent-color: var(--hover);
  }

  .modal-content.normal-contrast-preview {
    --bg-primary: #{variables.$light-bg-primary};
    --bg-secondary: #{variables.$light-bg-secondary};
    --bg-tertiary: #{variables.$light-bg-tertiary};
    --bg-special: #{variables.$light-bg-primary};
    --text-primary: #{variables.$light-text-primary};
    --text-secondary: #{variables.$light-text-secondary};
    --border-color: #{variables.$light-border};
    --alt-border-color: #{variables.$light-highlight};
    --highlight: #{variables.$light-highlight};
    --alt-highlight: #{variables.$light-highlight};
    --hover: #{variables.$light-hover};
    --alt-hover: #{variables.$light-highlight};

    --btn-scd-border: #{variables.$light-highlight};

    background-color: var(--bg-special);
    color: var(--text-primary);
  }

  body.dark-mode & .modal-content.normal-contrast-preview {
    --bg-primary: #{variables.$dark-bg-primary};
    --bg-secondary: #{variables.$dark-bg-secondary};
    --bg-tertiary: #{variables.$dark-bg-tertiary};
    --bg-special: #{variables.$dark-bg-secondary};
    --text-primary: #{variables.$dark-text-primary};
    --text-secondary: #{variables.$dark-text-secondary};
    --border-color: #{variables.$dark-border};
    --alt-border-color: #{variables.$dark-text-primary};
    --highlight: #{variables.$dark-highlight};
    --alt-highlight: #{variables.$hc-bg-secondary};
    --hover: #{variables.$dark-hover};
    --alt-hover: #{variables.$light-highlight};

    --btn-scd-border: #{variables.$dark-border}
  }

  .modal-content.normal-contrast-preview select,
  .modal-content.normal-contrast-preview input[type="checkbox"],
  .modal-content.normal-contrast-preview button {
    accent-color: var(--hover);
  }


  .font-preview {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: variables.$border-radius;
    color: var(--text-primary);

    h2 {
      margin-bottom: 0.5rem;
    }
  }
}