@use "sass:color";
@use '../variables.scss';
@use '../mixins.scss';

.navbar {
  background-color: var(--highlight);
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  gap: variables.$spacing-lg;
  height: 80px;


  .navbar-brand {
    padding-left: 24px;
    display: flex;
    align-items: center;
    
    a {
      text-decoration: none;
      color: white;
      font-size: variables.$font-size-lg;
      transition: color variables.$transition-duration variables.$transition-timing;
    }
  }

  .navbar-menu {
    display: flex;
    align-items: stretch;
    gap: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
    justify-content: end;
  }

  .navbar-item {
    display: flex;
    align-items: stretch;
    margin: 0;
    padding: 0;

    a {
      display: flex;
      align-items: center;
      padding: 0 variables.$spacing-lg;
      color: white;
      text-decoration: none;
      font-weight: 500;
      transition: background-color variables.$transition-duration variables.$transition-timing;

      &:hover {
        background-color: var(--hover);
      }
    }
  }

  .navbar-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 24px;
    transition: color variables.$transition-duration variables.$transition-timing;

    svg {
      font-size: calc(1.5 * var(--font-size));
    }
  }
}
